---
layout: default
title: All Notes
permalink: /all
---


{% assign counter = 0 %}
{% for post in site.posts %}
    {% if post.type != "note" %}
        {% continue %}
    {% else %}
        {% assign counter = counter | plus: 1 %}
    {% endif %}
{% endfor %}

<h1 style="text-align:center;">All Notes ({{ counter }})</h1>

    {% for post in site.posts %}
        {% if post.type != "note" %}
            {% continue %}
        {% endif %}
        <p>
            {% if post.status == "final" %} 
                🌳  
            {% elsif post.status == "edit" %} 
                🌿
            {% else %}
                🌱
            {% endif %}
            <a href="{{ post.url }}">{{ post.title }}</a>
            🌱
            <small style="color: grey;"> 
                {{ post.date | date_to_string }}
                {% if post.last_updated %}
                    {% assign last_updated_str = post.last_updated | date_to_string %}
                    {% assign original_date_str = post.date | date_to_string %}
                    {% if last_updated_str != original_date_str %}
                        🌿 {{ last_updated_str }}
                    {% endif %}
                {% endif %}
            </small>
            {% for tag in post.tags %}
                <a href="/tags/{{ tag }}" rel="category tag">
                    <code class="highligher-rouge" style="font-size: x-small;"><nobr>{{ tag | upcase }}</nobr></code>
                </a>
            {% endfor %}
        </p>
        
    {% endfor %}
</p>