---
layout: default
---
<div>
    <h1>Linkblog</h1>

    <div>
        <p>This page is a collection of articles around the web that I read with focus and found interesting enough to
            track.
            Inspired by <a href="https://simonwillison.net/search/?type=blogmark" target="_blank">Simon Willison's
                Blogmarks</a>.
    </div>

    {% for post in site.posts %}
    {% if post.type == "link" %}
    <table>
        <tr>
            <td>
                <h3>🔗&nbsp;&nbsp;<a href={{post.link}} target="_blank">{{post.title}}</a></h3>
                <p>{{ post.content }}</p>
                <small style="color: grey;"> {{ post.date | date_to_string }}</small>
            </td>
        </tr>
    </table>
    {% endif %}
    {% endfor %}
</div>