---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        
        <p class="post-meta">
            <span> {% if page.status == "evergreen" %} 🪴 {% else %} 🌿 {% endif %} </span> <span style="color: black;">|</span>
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                💦 
                {%- if page.last_updated -%}
                    {{ page.last_updated | date: date_format }}
                {%- else -%}
                    {{ page.date | date: date_format }}
                {%- endif -%} 
            </time>
                <span style="color: black;">|</span>
                <span>
                {% for tag in page.tags %}
                  {% capture tag_name %}{{ tag | upcase }}{% endcapture %}
                  <a href="/tags/{{ tag_name }}" rel="category tag"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
                {% endfor %}
              </span>
    </header>

    <div id="flex">
        <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
        </div>

        <p class="post-meta" style="padding-bottom: 3%">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                🌱 {{ page.date | date: date_format }}
            </time>
        </p>
        
    </div>


    <!--End mc_embed_signup-->

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>