---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">
            {{ page.title | escape }}
        </h1>


    </header>

    <div class="section">
        <span>
            {% for tag in page.tags %}
            <a href="/tags/{{ tag }}" rel="category tag" class="tag">
                {{ tag | upcase }} &nbsp;
            </a>
            {% endfor %}
        </span>
    </div>

    <div id="flex">
        <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
        </div>

    </div>
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="footer">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        🌱 <small>{{ page.date | date_to_string }}</small>
    </time>
    {% if page.last_updated %}
    {% assign last_updated_str = page.last_updated | date_to_string %}
    {% assign original_date_str = page.date | date_to_string %}
    {% if last_updated_str != original_date_str %}
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        🌿 <small>{{ page.last_updated | date_to_string }}</small>
    </time>
    {% endif %}
    {% endif %}
</div>