---
layout: default
---

<div>
    <h2>
        <code class="highligher-rouge" style="font-weight: bold;"><nobr>#{{ page.tag-name }}</nobr></code>&nbsp;
    </h2>

    <table>
        {% for post in site.posts %}
        {% if post.tags contains page.tag-name %}
        {% if page.tag-name contains "micro" %}
        {% continue %}
        {% else %}
        <tr>
            <td>
                🪴 <a href="{{ post.url }}">{{ post.title }}</a>
                🌱
                <small style="color: grey;"> {{ post.date | date_to_string }}
                    {% if post.last_updated %}
                    💦 {{ post.last_updated | date_to_string }}
                    {% endif %}
                </small>
            </td>
        <tr>
            {% endif %}
            {% endif %}
            {% endfor %}
    </table>
</div>