---
layout: default
---

<div class="section">
    <h2>{{ page.tag-name | upcase }}</h2>
</div>

<div>
    {% if page.tag-name == "micro" %}
    {% for post in site.posts %}
    {% if post.tags contains "micro" %}
    <table>
        <tr>
            <td style="width: 20%; vertical-align: top;">
                <span>🍃</span>
                <small style="color: grey;">
                    {{ post.date | date_to_string }}
                </small>
            </td>
            <td>
                {{ post.content }}
            </td>
        </tr>
    </table>
    {% endif %}
    {% endfor %}
    {% else %}

    {% assign posts = site.posts | sort: 'last_updated' | reverse %}
    {% for post in posts %}
    {% if post.tags contains page.tag-name %}
    {% if post.tags contains "micro" or post.tags contains "link" %}
    {% continue %}
    {% endif %}

    <p>
        {% if post.type == "article" %}
        🪴
        {% elsif post.status == "final" %}
        🌳
        {% elsif post.status == "update" %}
        🌿
        {% else %}
        🌱
        {% endif %}
        <a href="{{ post.url }}">{{ post.title }}</a>
        <small style="color: grey;">
            {% if post.last_updated %}
                {% assign last_updated_str = post.last_updated | date_to_string %}
                {% assign original_date_str = post.date | date_to_string %}
                {% if last_updated_str != original_date_str %}
                    {{ last_updated_str }}
                {% else %}
                    {{ post.date | date_to_string }}
                {% endif %}
            {% else %}
                {{ post.date | date_to_string }}
            {% endif %}
        </small>
    </p>
    {% endif %}
    {% endfor %}
    {% endif %}

</div>