---
layout: default
---

<h1 style="text-align:center;">Welcome to My Personal Wiki!</h1>


<div id="flex">
    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>
</div>

<h2 style="text-align:center;">All Tags</h2>

<p>
    {% assign all_tags = '' | split: ',' %}

    {% for post in site.posts %}
    {% for tags in post.tags %}
    {% for tag in tags %}
    {% assign all_tags = all_tags | push: tag %}
    {% endfor %}
    {% endfor %}
    {% endfor %}

    {% assign all_tags = all_tags | sort %}
    {% assign all_tags = all_tags | uniq %}

<ul class="tag-list" style="text-align:center;">
    &nbsp;⭐️&nbsp;
    {% for tag in all_tags %}
    {% if tag == "micro"%}
    {% continue %}
    {% endif %}
    <a href="/tags/{{ tag }}" rel="category tag">
        <code class="highligher-rouge"><nobr>{{ tag }}</nobr></code>
    </a>&nbsp;⭐️&nbsp;
    {% endfor %}
</ul>

</p>

<br>
<p>
<h2>All Posts</h2>

<table>
    {% for post in site.posts %}

    {% if post.tags contains "micro"%}
    {% continue %}
    {% endif %}

    <tr>
        <td>
            🪴 <a href="{{ post.url }}">{{ post.title }}</a>
            🌱
            <small style="color: grey;"> {{ post.date | date_to_string }}
                {% if post.last_modified_at %}
                💦 {{ post.last_modified_at | date_to_string }}
                {% endif %}
            </small>
        </td>
    <tr>
        {% endfor %}
</table>



</p>